body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 350px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.card:hover .image-container img {
  transform: scale(1.05);
}

.details {
  padding: 20px;
  text-align: center;
}

.details .player-name {
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px 0;
}

.details .position {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ffffff;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #6a11cb;
  border-radius: 0 0 15px 15px;
}

.stats .stat {
  text-align: center;
}

.stats .stat .number {
  font-size: 1.8em;
  font-weight: bold;
  transition: color 0.3s;
}

.stats .stat .label {
  font-size: 1em;
  color: #ffd700;
}

.card:hover .stats .stat .number {
  color: #ffd700;
}
